<div fxLayout="row" fxLayoutAlign="space-around center">

  <mat-card class="card-container">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtruj wyniki">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="table-container">

      <ng-container matColumnDef="brandName">
        <th mat-header-cell *matHeaderCellDef> Marka</th>
        <td mat-cell *matCellDef="let product"> {{product.brand.brandName}}</td>
      </ng-container>

      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef> Nazwa produktu</th>
        <td mat-cell *matCellDef="let product"> {{product.productName}}</td>
      </ng-container>

      <ng-container matColumnDef="sectionName">
        <th mat-header-cell *matHeaderCellDef> Dział</th>
        <td mat-cell *matCellDef="let product"> {{product.section.sectionName}}</td>
      </ng-container>

      <ng-container matColumnDef="productPrice">
        <th mat-header-cell *matHeaderCellDef> Cena produktu</th>
        <td mat-cell *matCellDef="let product"> {{product.productPrice}} PLN</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;"
          class="table-row" [ngClass]="{'odd-row': even}" (click)="editProduct(row)"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[9, 25, 50, 100]"></mat-paginator>
  </mat-card>

</div>
