/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
}

.pink-clr {
  color: #fff;
  font-weight: bold;
  background-color: #ff4081;
}

.mr-top--10 {
  margin-top: 10px !important;
}

.mr-top--20 {
  margin-top: 20px !important;
}

.mr-top--30 {
  margin-top: 30px !important;
}

.mr-top--40 {
  margin-top: 40px !important;
}

.mr-top--50 {
  margin-top: 50px !important;
}

.mr-bottom--10 {
  margin-bottom: 10px !important;
}

.mr-bottom--20 {
  margin-bottom: 20px !important;
}

.mr-bottom--30 {
  margin-bottom: 30px !important;
}

.mr-bottom--40 {
  margin-bottom: 40px !important;
}

.mr-bottom--50 {
  margin-bottom: 50px !important;
}

.my-snack-bar--success {
  color:#ffffff;
  background-color: #34bfa3;
}

.my-snack-bar--warning {
  color:#ffffff;
  background-color: #ffb822;
}

.my-snack-bar--error {
  color:#ffffff;
  background-color: #f4516c;
}

.my-snack-bar--info {
  color:#ffffff;
  background-color: #36a3f7;
}

.full-width {
  width: 100%;
}
